version: '3'
services:
  app:
    build: ./backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env.example
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
